<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstallFolder" value="Progress" />
    <add key="DownloadsDirectory" value="Progress\Installer\Downloads" />
    <add key="InstallerLogsDirectory" value="Progress\Installer\Logs" />
    <add key="UserSettingsSubDirectory" value="Progress\Installer\UserSettings" />
    <add key="RootSpecialFolder" value="CommonApplicationData" />
    <add key="DownloadTimeoutMilliseconds" value="540000" />
    <add key="InstallationConfigurationType" value="WI" />
    <add key="KeepPreviousParallelVersions" value="false" />
    <add key="GATrackingCode" value="tci" />
    <add key="ThankYouPagesSource" value="wi" />
    <add key="CurrentCollection" value="RCAJAX" />
    <add key="QuickStartProductCode" value="NotAvailable" />
    <add key="RegistrationWorkflowType" value="NoRegistration" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>